/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
@import "./assets/style/variable.scss";
$--color-primary: $color;
/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.el-form-item__error {
    top: 50%;
    right: 0;
    margin-top: -8.5px;
    left: auto;
    margin-right: 10px;
}

.el-form--inline {
    .el-row {
        .el-col {
            .el-form-item {
                display: flex;
            }
        }
    }
}

.el-form--inline {
    .el-row {
        .el-col {
            .el-form-item {
                .el-form-item__content {
                    flex: 1;
                    width: 0;

                    .el-select {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.el-form-item__content {

    .el-select,
    .el-cascader {
        width: 100%;
    }
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
    width: 100%;
}

.el-scrollbar {
    height: 100%;

    .el-scrollbar__wrap {
        overflow-x: hidden !important;
        margin-bottom: 0 !important;
    }
}

.el-pagination {
    text-align: right;
}

.el-dialog__body {
    display: flex;
    flex-direction: column;
    max-height: 60vh;

    .el-scrollbar {
        display: flex;
        flex: 1;

        .el-scrollbar__wrap {
            flex: 1;
            height: auto !important;
        }
    }
}

.el-submenu {

    &.is-active,
    &.is-open {
        .el-submenu__title {

            i,
            span {
                color: $color !important;
            }
        }
    }
}

.el-transfer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}